<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FetchKR500.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FetchKR500.Properties.Settings>
            <setting name="Station" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CopyOwner" serializeAs="String">
                <value>НПФ "ИКАР"</value>
            </setting>
            <setting name="CopyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>Channel1=COM3:57600,N,8,1</value>
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>5</value>
            </setting>
        </FetchKR500.Properties.Settings>
    </userSettings>
</configuration>