<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FetchROC809.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FetchROC809.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>192.168.0.2</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="Station" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CopyOwner" serializeAs="String">
                <value>НПФ "ИКАР"</value>
            </setting>
            <setting name="CopyKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DateAddr" serializeAs="String">
                <value>7046</value>
            </setting>
            <setting name="TimeAddr" serializeAs="String">
                <value>7047</value>
            </setting>
            <setting name="NodeAddr" serializeAs="String">
                <value>20</value>
            </setting>
        </FetchROC809.Properties.Settings>
    </userSettings>
</configuration>